<section>
  <div id="menu" *ngIf="project">
    <div>
      <h1 id="title">{{ project.title }}</h1>
    </div>
    <div>
      <button
        class="bl-button"
        *ngIf="user.email === project.created_by"
        (click)="
          projectLogic.deleteProject(activatedRoute.snapshot.paramMap.get('id'))
        "
      >
        Delete
      </button>
      <button class="bl-button" (click)="projectLogic.openModel(membersModal)">
        Members
      </button>
      <button class="bl-button" (click)="projectLogic.openModel(taskModal)">
        Create task
      </button>
    </div>
  </div>
  <hr />
  <div id="workspace" *ngIf="project">
    <div class="task-container">
      <h2 cdkDrag>To do</h2>
      <div
        class="drop-list"
        [cdkDropListConnectedTo]="['DoingList', 'DoneList']"
        cdkDropList
        [cdkDropListData]="toDo"
        id="ToDoList"
        (cdkDropListDropped)="
          projectLogic.drop($event, activatedRoute.snapshot.paramMap.get('id'))
        "
      >
        <div
          class="single-task"
          [cdkDragData]="task"
          *ngFor="let task of toDo"
          cdkDrag
        >
          <p>Created by {{ task.created_by }}</p>
          <p>{{ task.description }}</p>
          <p>Created at {{ task.created_at | date: "dd/MM/Y/H:mm" }}</p>
          <mat-icon
            (click)="
              projectLogic.deleteTask(
                task.id,
                activatedRoute.snapshot.paramMap.get('id')
              )
            "
            style="color: red; cursor: pointer"
            >delete_forever</mat-icon
          >
        </div>
      </div>
    </div>
    <div class="task-container">
      <h2>Doing</h2>
      <div
        class="drop-list"
        [cdkDropListConnectedTo]="['ToDoList', 'DoneList']"
        cdkDropList
        [cdkDropListData]="doing"
        id="DoingList"
        (cdkDropListDropped)="
          projectLogic.drop($event, activatedRoute.snapshot.paramMap.get('id'))
        "
      >
        <div
          class="single-task"
          [cdkDragData]="task"
          *ngFor="let task of doing"
          cdkDrag
        >
          <p>Created by {{ task.created_by }}</p>
          <p>{{ task.description }}</p>
          <p>Created at {{ task.created_at | date: "dd/MM/Y/H:mm" }}</p>
          <mat-icon
            (click)="
              projectLogic.deleteTask(
                task.id,
                activatedRoute.snapshot.paramMap.get('id')
              )
            "
            style="color: red; cursor: pointer"
            >delete_forever</mat-icon
          >
        </div>
      </div>
    </div>
    <div class="task-container">
      <h2>Done</h2>
      <div
        class="drop-list"
        [cdkDropListConnectedTo]="['ToDoList', 'DoingList']"
        cdkDropList
        [cdkDropListData]="done"
        id="DoneList"
        (cdkDropListDropped)="
          projectLogic.drop($event, activatedRoute.snapshot.paramMap.get('id'))
        "
      >
        <div
          class="single-task"
          [cdkDragData]="task"
          *ngFor="let task of done"
          cdkDrag
        >
          <div>
            <p>Created by {{ task.created_by }}</p>
            <p>{{ task.description }}</p>
            <p>Created at {{ task.created_at | date: "dd/MM/Y/H:mm" }}</p>
            <mat-icon
              (click)="
                projectLogic.deleteTask(
                  task.id,
                  activatedRoute.snapshot.paramMap.get('id')
                )
              "
              style="color: red; cursor: pointer"
              >delete_forever</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
    <div id="chat" class="task-container">
      <div class="input-container">
        <form [formGroup]="messageForm">
          <input
            (keydown.enter)="
              projectLogic.sendMessage(
                this.activatedRoute.snapshot.paramMap.get('id'),
                messageForm
              )
            "
            formControlName="message"
            type="text"
            placeholder="Send a message"
          />
        </form>
        <button
          (click)="
            projectLogic.sendMessage(
              this.activatedRoute.snapshot.paramMap.get('id'),
              messageForm
            )
          "
        >
          Send
        </button>
      </div>
      <div class="message-container" *ngFor="let message of project.chat">
        <p>{{ message.name }}:</p>
        <p class="message">{{ message.message }}</p>
        <p class="time">{{ message.time | date: "dd/MM/H:mm" }}</p>
      </div>
    </div>
  </div>
</section>

<!--Tasks model -->
<div #taskModal class="modal">
  <div class="modal-content">
    <h2>Create a new task</h2>
    <form [formGroup]="taskForm">
      <input
        (keydown.enter)="
          projectLogic.createTask(
            this.activatedRoute.snapshot.paramMap.get('id'),
            taskForm,
            taskModal
          )
        "
        formControlName="description"
        type="text"
        placeholder="Describe task"
      />
    </form>
    <div>
      <button
        class="bl-button"
        (click)="
          projectLogic.createTask(
            this.activatedRoute.snapshot.paramMap.get('id'),
            taskForm,
            taskModal
          )
        "
      >
        Create
      </button>
      <button
        class="bl-button"
        (click)="projectLogic.closeModel(taskModal, taskForm)"
      >
        Cancel
      </button>
    </div>
  </div>
</div>

<!--Members model -->
<div #membersModal class="members-modal">
  <div class="members-modal-content">
    <h2>Add a new member</h2>

    <form [formGroup]="memberForm">
      <span #memberResError></span>
      <input
        (keydown.enter)="
          projectLogic.addUser(
            activatedRoute.snapshot.paramMap.get('id'),
            memberForm,
            memberResError
          )
        "
        formControlName="email"
        type="text"
        placeholder="Enter email"
      />
    </form>
    <div>
      <button
        class="bl-button"
        (click)="
          projectLogic.addUser(
            activatedRoute.snapshot.paramMap.get('id'),
            memberForm,
            memberResError
          )
        "
      >
        Add
      </button>
      <button
        class="bl-button"
        (click)="projectLogic.closeModel(membersModal, memberForm)"
      >
        Cancel
      </button>
      <button
        class="bl-button"
        (click)="
          projectLogic.leaveProject(activatedRoute.snapshot.paramMap.get('id'))
        "
      >
        Leave
      </button>
    </div>
    <h2>Members:</h2>
    <div class="members-container" *ngIf="project">
      <div class="members-card" *ngFor="let member of project.members">
        <p class="info">Name: {{ member.name }}</p>
        <p class="info">Email: {{ member.email }}</p>
        <mat-icon
          *ngIf="user.email === project.created_by"
          (click)="
            projectLogic.removeUser(
              member.email,
              activatedRoute.snapshot.paramMap.get('id')
            )
          "
          style="color: red; cursor: pointer"
          >delete</mat-icon
        >
      </div>
    </div>
  </div>
</div>
